body{
  background-color: beige;
}
.cen {
  display: flex;
  justify-content: center;
}


.login-icon {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}



.login-icon div {
  margin-left: 20px;
}

.nav-section {
  display: flex;
  justify-content: center;
}



.menu-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  flex-wrap: wrap; 
  margin: 30px;
  border-bottom:1px solid #ddd ;
  padding-bottom: 20px;
}  



.menu-list {
  display: flex;
  list-style: none;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap; 
   margin: 0;
}

.menu-list li {
  padding: 10px;
}

.input-group {
  margin-left: auto;
  display: flex;
  align-items: center;
  width: auto; 
} 


.input-box {
  border-width: 0px 0px 1px;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  transition: transform 0.3s ease,  border-color 0.5s ease; /* 카드가 커질 때와 테두리 색이 변할 때 애니메이션 추가 */
}

.product-card-container:hover {
  transform: scale(1.10); 
  border-color: #ff69b4; /* 마우스를 올렸을 때 테두리 색상이 핑크빛(#ff69b4)으로 변경 *//* 마우스를 올렸을 때 카드가 1.05배 커지도록 설정 */
}

.product-card-container img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.product-card-container div {
  margin-top: 10px;
}

.product-card-container img {
  width: 100%;
  height: 200px; 
  object-fit: cover; /* 이미지가 잘리지 않고 꽉 차도록 설정 */
}


.login-form {
  margin-top: 25px;
  
}

.login-text {
  font-weight: 600;
  margin-bottom: 15px;
}

.login-button {
  margin-top: 25px;
  display: flex;
  justify-content: space-around;
}